<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
	<h1>buy a wonderfull new yoga mat!</h1>
	<a href="home.html">homepage</a>
	<div class="card">
  <img src="M1.gif" alt="purple matt" style="width:10%">
  <h1>china Yoga mattress</h1>
  <p class="price">$49.99</p>
  <p>Some text about the jeans..</p>
  <p><button>Add to Cart</button></p>
</div>
	
	<div class="card">
  <img src="M2.jpg" alt="colorful mat" style="width:10%">
  <h1>china Yoga mattress</h1>
  <p class="price">$49.99</p>
  <p>Some text about the jeans..</p>
  <p><button>Add to Cart</button></p>
</div>
</body>
</html>